<h2 class="new-product-heading text-center">
  Thank you for your submission!
</h2>
<h4 class="text-center">
  Your store has been submitted for approval.
</h4>
<h4 class="text-center">
  This process generally takes 24-48 hours, thank you for your patience.
</h4>