<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="index-heading">
        <h3 class="text-center">
          World’s Premier Cannabis Marketplace
        </h3>
        <p class="text-center">Whether you are a vendor, delivery service, smoke shop, grower or anybody else in the booming Cannabis industry, NuggPlug gets millions of eyes on your brand.</p>
      </div>
      <div class="vendor-pitch">
        <p class="text-center">
          Are you tired of your competitors getting more clients and more brand visibility from Cannabis customers, vendors and suppliers?
        </p>
          <br>
        <p class="text-center">
          NuggPlug is the world’s safest and most convenient way to advertise any 420-friendly business to a worldwide audience that is looking for your products and services.
        </p>
          <br>
        <p class="text-center">
          We have become the trusted and reliable Cannabis connection platform because we only list legitimate, recognized businesses that our clients can trust.
        </p>
      </div>
      <h3 class="text-center vendor-heading">
        Receive the following advantages:
      </h3>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 text-center vendor-adv">
              <h2>
                1
              </h2>
              <h4>
                Excellent Customer Service
              </h4>
              <p>
                Both our listing partners and customers receive the best customer service,
                helping them build connections that boost sales
              </p>
            </div>
            <div class="col-md-4 text-center vendor-adv">
              <h2>
                2
              </h2>
              <h4>
                Premium Cannabis Listing
              </h4>
              <p>
                You get to list your brand’s logo, address, phone number, website, open hours, weed menu and special offers to let people know why they should buy from you!
              </p>
            </div>
            <div class="col-md-4 text-center vendor-adv">
              <h2>
                3
              </h2>
              <h4>
                Real User Reviews
              </h4>
              <p>
                NuggPlug lets your customers review you online, helping to build trust with other 420-users so they know that you are a great company to deal with.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-center vendor-adv">
              <h2>
                4
              </h2>
              <h4>
                Become Part of the Fastest Growing 420 Platform
              </h4>
              <p>
                We have Sponsors, Vendors, Delivery Services, Doctors, Head Shops, Growers and more from across the industry listing with us!
              </p>
            </div>
            <div class="col-md-4 text-center vendor-adv">
              <h2>
                5
              </h2>
              <h4>
                GPS-Based Cannabis Map
              </h4>
              <p>
                Anybody close to your business using NuggPlug will instantly see you on the map, driving more local customers to you all year round.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>