<!-- Footer -->
<footer class="page-footer font-small blue pt-4 foot-fixed">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left footer">

    <!-- Grid row -->
    <div class="row">
      <div class="text-center">
        <h5>© Nugg Plug 2014-2019 / All rights reserved.</h5>
      </div>

      <div class="text-right">
        <%= link_to "Contact" %>
        <%= link_to "Support", support_path %>
      </div>
    </div>
  </div>

</footer>