@import "flexslider";
@import "bootstrap";
@import "bourbon";

//general
.body {
  margin-top: 75px;
  background-color: #EFEFEF;
}

//nav-bar
.nav-button {
  display: inline;
}

.navbar-default {
  background-color: black;
}

.footer {
  background-color: lightgrey;
}

.footer-fixed {
  position: fixed;
}

.navbar-header {
  width: 100%;

  button, .navbar-brand {
    transition: opacity 0.15s;
  }

  button {
    margin-right: 0;
  }

  button:hover, .navbar-brand:hover {
    opacity: 0.8;
  }
}

// store.new
.form-hours {
  margin-right: 30px;
}

// store.show
.show-header {
  margin-top: 50px;
  height: 100px;
  border: solid;
}

.show-desc {
  height: 200px;
  border: solid;
}

.show-items {
  height: 200px;
  border: solid;
}

.show-reviews {
  border: solid;
}

.store-review {
  margin-left: 50px;
}

.show-map {
  border: solid;
}

.show-open {
  border: solid;
}

.show-address {
  border: solid;
  text-align: center;
}

.show-hours {
  margin-top: 4px;
  margin-bottom: 16px;
}

.store-hours {
  margin-left: 50px;
}

.store-days {
  margin-bottom: 16px;
}

.store-product {
  margin-left: 50px;
}

// store.index
.slide {
  border: solid;
}

.type-header {
  padding-top: 30px;
  padding-bottom: 15px;
}

.index-heading {
  border: solid;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: forestgreen;
}

.index-vendor {
  border: solid;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: forestgreen;
}

.questions {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: forestgreen;
}

//store.vendor

.vendor-pitch {
  border: solid;
}

.vendor-adv {
  border: solid;
}
 .vendor-heading {
   border: solid;
   margin-top: 15px;
   margin-bottom: 15px;
 }

 //store.support

.ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}