@import "flexslider";
@import "bootstrap";
@import "bourbon";

//general
.body {
  margin-top: 75px;
  background-color: #EFEFEF;
}

//nav-bar
.nav-button {
  display: inline;
}

.navbar-default {
  background-color: black;
}

.navbar-icons {
  margin-top: 3px;
  background-color: white;
  border-radius: 3px;
}

.footer {
  background-color: lightgrey;
}

.footer-fixed {
  position: fixed;
}

.navbar-header {
  width: 100%;

  button, .navbar-brand {
    transition: opacity 0.15s;
  }

  button {
    margin-right: 0;
  }

  button:hover, .navbar-brand:hover {
    opacity: 0.8;
  }
}

// store.form

.new-time {
  margin-bottom: 15px;
  margin-left: 30px;
}

.new-closed {
  margin-bottom: 50px;
}

.new-form {
  margin-bottom: 15px;
}

.new-store-btn {
  algin-items: center;
}

.new-heading {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #046937;
  margin-bottom: 50px;
}

// store.new
.form-hours {
  margin-right: 30px;
}

// store.show
.show-header {
  padding-top: 50px;
  padding-bottom: 150px;
  height: 100px;
  background-color: #046937;
}

.header-flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.show-desc {
  background-color: white;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.show-container {
  display: flex;
  flex-direction: column;
}

.show-items {
  background-color: white;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.show-items-form {
  padding-left: 10px;
}

.show-reviews {
  padding-top: 20px;
  background-color: white;
  padding-left: 10px;
}

.store-review {
  margin-left: 50px;
}

.show-map {
  background-color: white;
}

.show-open {
  background-color: white;
  margin-bottom: 10px;
}

.show-address {
  background-color: white;
  text-align: center;
}

.show-hours {
  margin-top: 4px;
  margin-bottom: 16px;
}

.store-hours {
  margin-left: 50px;
}

.store-days {
  margin-bottom: 16px;
}

.store-product {
  margin-left: 50px;
}

// store.index
.slide {
  border: solid;
}

.type-header {
  padding-top: 30px;
  padding-bottom: 15px;
}

.index-heading {
  border: solid;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #046937;
}

.index-vendor {
  border: solid;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #046937;
}

.questions {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #046937;
}

//store.vendor

.vendor-container {
  display: flex;
  flex-direction: column;
}

.vendor-pitch {
  border: solid;
}

.vendor-adv {
  border: solid;
}

.vendor-header {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #046937;
  border-radius: 5px;
 }

.vendor-body {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 10px;
}

.vendor-membership {
  padding-bottom: 50px;
}

.vendor-card {
  border: solid;
  border-color: #BBBBBB;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.vendor-icon {
  padding-bottom: 10px;
}

.vendor-hr {
  width: 10%;
  border-width: 2px;
  margin-left: 45%;
  border-color: #046937;
}
 //store.vendor.packages

.vendor-table {
  text-align: center;
}

.table-heading {
  background-color: #046937;
  font-size: x-large;
  border-radius: 5px;
}

.ta {
  background-color: white;
}

.tb {
  background-color: #DADADA;
}

.t-price {
  background-color: white;
  font-size: x-large;
}

.t-month {
  background-color: white;
  font-size: 16px;
  color: #BBBBBB;
}


 //store.support

.ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}