<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 package-body">
      <table class="table vendor-table ">
        <thead>
          <tr>
            <th class="vendor-table table-heading"><b>
              Starter
            </b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="vendor-table t-price">
            <td>
              $42.00 <small><small><small>/month </small></small> </small>
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              One Listing
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              30 Days Availability
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              No Contact Display
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Background Image Header
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Slider Image Content
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              No Keywords/Tags
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              No Price Range
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              No FAQs
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Non-Featured
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Limited Support
            </td>
          </tr>
          <tr class="vendor-table">
            <td>
              <%= link_to "Choose Starter", new_store_path, :class => "b1" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table vendor-table ">
        <thead>
          <tr>
            <th class="vendor-table table-heading"><b>
              Extended
            </b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="vendor-table t-price">
            <td>
              $420.00 <small><small><small>/month </small></small> </small>
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Premium Listing
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Extended Product Menu
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Contact Display
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              2 Header Styles
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              2 Content Widgets
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Keywords/Tags
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Price Range
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              FAQs
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Featured in Search Results
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              24/7 Support
            </td>
          </tr>
          <tr class="vendor-table">
            <td>
              <%= link_to "Choose Extended", new_store_path, :class => "b1" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table vendor-table ">
        <thead>
          <tr>
            <th class="vendor-table table-heading"><b>
              Professional
            </b>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="vendor-table t-price">
            <td>
              $4200.00 <small><small><small>/month </small></small> </small>
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Pro Listing (International Expansion)
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Lifetime Availability
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Contact Display
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              3 Header Style
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              3 Content Widgets
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              Keywords/Tags
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Price Range
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              FAQs
            </td>
          </tr>
          <tr class="vendor-table tb">
            <td>
              Featured in Search Results
            </td>
          </tr>
          <tr class="vendor-table ta">
            <td>
              24/7 Support
            </td>
          </tr>
          <tr class="vendor-table">
            <td>
              <%= link_to "Choose Professional", new_store_path, :class => "b1" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

