
<div class="row">
  <div class="store-product">
    <div class="col-md-4">
      <p><b>Product Name</b></p>
    </div>
    <div class="col-md-5">
      <p><b>Description</b></p>
    </div>
    <div class="col-md-3">
      <p><b>Price</b></p>
    </div>
  </div>
</div>
<% product = Product.where(:store_id => @store.id) %>
<% product.each do |f| %>
<div class="row">
  <div class="store-product">

    <div class="col-md-4">
      <%= f.name %>
    </div>
    <div class="col-md-5">
      <%= f.description %>
    </div>
    <div class="col-md-3">
      <%= f.price %>
    </div>
  </div>
</div>
<% end %>